html, body {
  font-family: 'Crimson Text', sans-serif, serif;
  margin:0;
}
#navbar ul {
  position: fixed;
  margin-top:0;
  background-color: #e3e6ea;
  width: 100%;
  text-align: center;
  padding: 20px 0 20px 0;
}
#navbar ul li {
  display: inline;
  padding: 0 20px;
  font-size: 2em;
}
#navbar ul li a {
  text-decoration: none;
  color: #6a656b;
}
#welcome-section {
  width: 100%;
  padding: 100px 0 100px 0;
  text-align: center;
}
#welcome-section p {
  font-size: 1.5em;
}
.section-style {
  width: 60%;
  font-size: 1.2em;
  text-align: center;
  padding: 20px 0;
  margin:auto;
}
#about-me {
   background-color: #e3e6ea;
}